- jqm_context :bookmark do

  - jqm :list_view do

    - jqm :list_divider do
      = caption_for_action

    - @bookmarks.each do |bookmark|
      - jqm :list_item do

        %a{:href => bookmark_path(bookmark)}
          %h3= bookmark.title
          %p= bookmark.notes

        = link_to "edit", edit_bookmark_path(bookmark)
