%h2 Popup bookmarklet
%p Works with Chrome, Safari, Firefox and Opera.
%a{href: 'javascript:' + popup_bookmarklet_js} oreidigen...

%h2 Fullscreen bookmarklet
%p Works with all major browsers.
%a{href: 'javascript:' + fullscreen_bookmarklet_js} oreidigen...
